.small_page {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input {
  margin-bottom: 15px;
}

.well {
  background-color: #FFFFFF;
  width: 500px;
}
.well-post {
  background-color: #CBDFEC;
}
.worrong_tag {
  color: red;
}
.editPoststyle {
  text-align: right;
}
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
small:before {
  content: '— ';
}

.bs-callout-info {
  background-color: #F1FDF0;
  border-color: #98CCA3;
}
a span.glyphicon-heart {
  color: #CA4268;
}
